.header{
    background-color: blanchedalmond;
    text-align: center;
    margin-top: 30px 50px 30px;

}

.featured_photo{
    background-color: blanchedalmond;
    text-align: center;
    margin-top: 30px 50px 30px;
}