.header{
    background-color: blanchedalmond;
    text-align: center;
    margin-top: 30px 50px 30px;
    border: solid black;

}

.featured_photo{
    background-color: blanchedalmond;
    text-align: center;
    margin-top: 30px 50px 30px;
}

.proj{
    height:100vh;
    width: 100vh;
    margin: 50px;
}

.previous_projects{
    background-color: blanchedalmond;
    text-align: center;
    margin-top: 30px 50px 30px;
}


.flexbox{
    height:90vh;
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}